body{

	  /*background: url("../images/login_back.jpg") no-repeat center center fixed; 
	  -webkit-background-size: 100% 100%;
	  -moz-background-size: 100% 100%;
	  -o-background-size: 100% 100%;
	  background-size: 100% 100%;*/
	  /*background-color: #f2f2f2;*/
}
.login-box-body{
	background: transparent;
}
.login-logo a{

	color: #44695B;
}
.login-box{

	margin-bottom: 0px;
	margin-top: 0px;
}
.login_logo{

	text-align: center;
}

.login_logo img{

	margin: 0 auto;
}


